@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-incognito: var(--incognito);
  --font-inter: var(--inter);
}

:root {
  --bg-page: #ffffff;
  --text-primary: #28283c;
}

.dark {
  --bg-page: #1c1c1e;
  --text-primary: #e5e5fb;
}

h1,
h2,
h3,
h4 {
  font-family: var(--incognito), 'Inter', sans-serif;
}

::selection {
  background-color: var(--text-primary);
  color: var(--bg-page);
}
